:root {
  font-family: Futura, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3039AA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

h1 {
  color: #00D35A;
  font-size: 3em;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  
  border-radius: 1em;
  border: 0.25em solid transparent;
  padding: 0.875em 2em;
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
  background-color: #3039AA;
  cursor: pointer;
  transition: background-color 1s;

  /* background: linear-gradient(90deg, #3f51b5, transparent) #2196f3; */
}
button:hover, button:focus {

  background-color: #00D35A;
  color: #fff;
}


button:focus,
button:focus-visible {
  outline: 1em auto -webkit-focus-ring-color;
}

input {
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 1);
  color: black;
  width: 440px;
  height: 50px;
  border-color: rgba(217, 217, 217, 1);
  font-size: 26px;
}

.logout-button {
  margin-top: 1em;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}


.center-content {
  text-align: center; /* Optional: Align text center within its container */
}

.multi-circle .overlap-group {
  height: 346px;
  position: absolute;
  top: 0px; /* Adjust top value based on your layout */
  left: 0px; /* Adjust left value based on your layout */
  width: 385px;
}

.multi-circle .ellipse,
.multi-circle .img,
.multi-circle .ellipse-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.exclude-circle .exclude {
  height: 700px;
  position: fixed; /* Use fixed positioning for screen-relative positioning */
  bottom: 0;
  right: 0;
  width: 294px;
  z-index: -1;
}

h2 {
  font-weight: normal;
}

.hamburger-menu {
  display: none
}

/* Media Query for mobile */
@media only screen and (max-width: 768px) {

.logout-button {
    /* height: 2em;
    width: 2em;  */
    background-color: transparent;
    /* width: em; */
    /* font-size: 1.2em;
    top: 24em;
    right: 6em; */
    /* position: absolute; */
}

.login-button {
  background-color: transparent;
}

.exclude-circle .exclude {
  /* display: none; */
  height: 25em;
}

.multi-circle .ellipse{
  height: 15em;
}

.multi-circle .ellipse-2{
  height: 16em
}

.multi-circle .img {
  height: 17em
}

#userInput {
  width: 10em;
}

#userInput::placeholder {
  /* Set the placeholder text directly */
  color: rgba(217, 217, 217, 1);
}

h1 {
    font-size: 2em;
}

/* .hamburger-menu {
      display: flex; 
} */

}